body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar-brand img{
	width: 28px;
	height: 28px;
}

img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}